﻿@model Re3ayaInvoices.viewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<link href="/Content/DoctorAdminTheme/fickle-LTR-THEME/assets/css/bootstrap.min.css" rel="stylesheet">

<link href="/Content/DoctorAdminTheme/fickle-LTR-THEME/assets/css/style.css" rel="stylesheet" />
 
<body class="login-screen" style="background-image: url('/Content/DoctorAdminTheme/fickle-LTR-THEME/assets/images/O9VSJG0.png');background-repeat: repeat;">
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="login-box" >
                            <div class="login-content" style="background-color: #e7e7e7;margin: -7px;">
                                <img src="https://www.re3aya247.com/Content/Theme/img/Re3aya_Wide_Logo.png" style="padding-top:10px;" alt="" />
                                <br />
                                <h3 style="padding-bottom:10px;">Re3aya247 Login</h3>
                                <div class="social-btn-login">
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="login-form">
                                <form id="form-login" action="#" class="form-horizontal ls_form">
                                    <div class="row">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-4" })
                                            <div class="col-md-8">
                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                    <br />
                                    <div class="form-group">

                                        <input type="submit" class="btn ls-dark-btn ladda-button col-md-12 col-sm-12 col-xs-12" value="Login" />
                                    </div>
                                </form>
                            </div>

                        </div>

                    }

                </div>
            </div>
        </div>
    </section>
</body>

