﻿@using PagedList.Mvc
@model  PagedList.IPagedList<Re3ayaInvoices.viewModels.InvoiceLogViewModel>
@{
    ViewBag.Title = "User Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="my-3">
    <form id="searchform" style="margin-bottom:20px" action="/Account/UserLog">
        <div class="row">
            <div class="col-md-12 ">
                <div class="row">
                    <div class="col-md-2 mb-6  mt-3">
                        <label>Created From</label>
                        <input type="text" autocomplete="off" class="form-control" @if (@ViewBag.search.From != null) { <text> value="@ViewBag.search.From.ToString("MM/dd/yyyy")" </text> } id="From" name="From" />
                    </div>
                    <div class="col-md-2 mb-6  mt-3">
                        <label>Created To</label>
                        <input type="text" autocomplete="off" class="form-control" @if (@ViewBag.search.To != null) { <text> value="@ViewBag.search.To.ToString("MM/dd/yyyy")" </text> } id="To" name="To" />
                    </div>
                    <div class="col-md-2 mb-6  mt-3">
                        <label>Choose User</label>
                        @Html.DropDownList("UserId", (IEnumerable
                                         <SelectListItem>)ViewBag.userid, "Choose User", new { @class = "select2"})
                    </div>
                    <div class="col-md-2 mb-6  mt-3">
                        <label>Choose User</label>
                        @Html.DropDownList("ActionId", (IEnumerable
                                         <SelectListItem>)ViewBag.actionid, "Choose action", new { @class = "select2"})
                    </div>
                    <div class="col-md-2 mt-5">
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </div>
                    <div class="col-md-2 mt-5">
                        <input id="sheet" type="button" value="sheet" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</header>
<div class="card">
    <div class="container-fluid my-3">
        <div class="row">
            <table id="doctortable" class="table table-bordered table-hover" style="position:relative;" role="grid">
                <tr>
                    <th>
                        التاريخ
                    </th>
                    <th>
                        الوقت
                    </th>
                    <th>
                        المستخدم
                    </th>
                    <th>
                        #
                    </th>
                </tr>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CreatedDate.Value.ToString("dd-MM-yyyy")</td>
                                <td>@DateTime.Today.Add(item.CreatedDate.Value.TimeOfDay).AddHours(2).ToString("hh:mm tt")</td>
                                <td>
                                    @{
                                        var name = "Customer Support";
                                        if (!string.IsNullOrEmpty(item.UserName))
                                        {
                                            name = Re3ayaInvoices.Helpers.Common.Ase_DecryptString(item.UserName);
                                        }
                                        <text>@name</text>
                                    }
                                </td>
                                <td>@item.ActionName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of
                @Model.PageCount
            </div>
        </div>
        <div class="col-sm-12 col-md-7">
            @{
                var q = HttpUtility.ParseQueryString("");

                for (int idx = 0; idx < Request.QueryString.Keys.Count; idx++)
                {
                    if (Request.QueryString.Keys[idx] != "page")
                    {
                        q.Add(Request.QueryString.Keys[idx], Request.QueryString[Request.QueryString.Keys[idx]]);
                    }
                }
            }
            @Html.PagedListPager(Model, page => Url.Action("UserLog", new
       {
           page = page,
           From = q["From"],
           To = q["To"],
           UserId = q["UserId"],
           ActionId= q["ActionId"]
       }),
       new PagedListRenderOptions
       {
           LiElementClasses = new string[] { "page-item" }
       })
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/InvoiceScripts/UserLog.js"></script>
}