﻿@using PagedList.Mvc
@model  PagedList.IPagedList<Re3ayaInvoices.viewModels.InvoiceViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>قائمة الفواتير</h2>
<header class="my-3">
    <form id="searchform" style="margin-bottom:20px" action="/InvoiceFollowup/Index">
        <hr />
        <div class="row">
            <div class="col-md-12 ">
                <div class="row">
                    <div class="col-md-4 mb-6 mt-3">
                        <input type="text" class="form-control" value="@ViewBag.MedicalName" name="MedicalName" id="MedicalName" placeholder="الاسم">
                    </div>
                    <div class="col-md-4 mb-6 mt-3">
                        <input type="text" class="form-control" value="@ViewBag.code" name="DoctorCode" id="DoctorCode" placeholder="كود">
                    </div>
                    <div class="col-md-4 mb-6  mt-3">
                        <select name="MedicalProvider" id="MedicalProvider" class="form-control">
                            <option value="0" @if (ViewBag.MedicalProvider == null || ViewBag.MedicalProvider == 0) { <text> selected="selected" </text> }>دكتور</option>
                            <option value="1" @if (ViewBag.MedicalProvider == 1) { <text> selected="selected" </text> }>مستشفى</option>
                            <option value="2" @if (ViewBag.MedicalProvider == 2) { <text> selected="selected" </text> }>معمل</option>
                            <option value="3" @if (ViewBag.MedicalProvider == 3) { <text> selected="selected" </text> }>رعاية مركزة</option>
                            <option value="4" @if (ViewBag.MedicalProvider == 4) { <text> selected="selected" </text> }>مركز طبى</option>
                            <option value="5" @if (ViewBag.MedicalProvider == 5) { <text> selected="selected" </text> }>مركز أشعة</option>
                            <option value="6" @if (ViewBag.MedicalProvider == 6) { <text> selected="selected" </text> }>صيدلية</option>
                            <option value="7" @if (ViewBag.MedicalProvider == 7) { <text> selected="selected" </text> }>بنك الدم</option>
                            <option value="8" @if (ViewBag.MedicalProvider == 8) { <text> selected="selected" </text> }>حضانات</option>
                        </select>
                    </div>
                    <div class="col-md-4 mt-4">
                        <input type="submit" id="Searchbtn" value="بحث" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</header>
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-header">
                <div class="box-tools">
                    <label style="color:purple;text-decoration: underline;font-weight: bold;">(@Model.TotalItemCount) Invoices</label>
                </div>
            </div>
            <div class="card r-0 shadow">
                <div class="table-responsive">
                    <form>
                        <table id="invoicetable" class="table table-bordered table-hover" role="grid">
                            <tr style="background-color:purple;color:white;font-size:medium;">
                                <th>
                                    كود الفاتورة
                                </th>
                                <th>
                                    تاريخ الفاتورة
                                </th>
                                <th>
                                    نوع الفاتورة
                                </th>
                                <th>
                                    الجهة الطبية
                                </th>
                                <th>
                                    الإجمالى
                                </th>
                                <th>
                                    الحالة
                                </th>
                                <td>خصم3%</td>
                                <th>#</th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Invoice_Number)
                                    </td>
                                    <td>
                                        @Html.Label(item.InvoiceDate.HasValue ? item.InvoiceDate.Value.ToString("dd/MM/yyyy") : "", htmlAttributes: new { style = "color:purple;text-decoration: underline;font-weight: bold;" })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TypeName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DoctorName)
                                        <br />
                                        <span style="color:red;">@item.DoctorCode</span>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalAmount)
                                    </td>
                                    <td>
                                        @if (item.IsPaid.GetValueOrDefault())
                                        {
                                            <label style="color:green;font-weight:bold;">محصل</label><br />
                                        }
                                        else
                                        {
                                            <label style="font-weight:bold;">غير محصل</label>
                                        }
                                    </td>
                                    <td>
                                        <label style="font-weight:bold;">
                                            @if (item.Is_Deduction == true)
                                            {
                                                <text>خصم 3%</text>
                                            }
                                            else
                                            {
                                                <text>لايوجد خصم</text>
                                            }
                                        </label>
                                    </td>
                                    <td>
                                        <div class="dropdown show">
                                            <a class="btn btn-secondary btn-xs dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Action
                                            </a>
                                            <div id="@item.InvoiceId" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" id="followup" name="followup" href="/InvoiceFollowup/Followups?id=@item.InvoiceId" style="font-weight:bold;color:red;">متابعة</a>
                                                <a class="dropdown-item" id="@item.InvoiceId" name="profile" href="#" style="font-weight:bold;color:red;">بيانات الجهة الطبية</a>
                                                @{
                                                    if (!item.IsPaid.GetValueOrDefault())
                                                    {
                                                        if (item.Type == 1)
                                                        {
                                                            if (item.IsDoctor == true)
                                                            {
                                                                <a class="dropdown-item" id="2" name="Details" href="/InvoiceFollowup/CreateDoctorInvoiceFile?InvoiceId=@item.InvoiceId&type=1&MedicalProvider=@ViewBag.MedicalProvider">تنزيل الفاتورة</a>
                                                            }
                                                            else
                                                            {
                                                                <a class="dropdown-item" id="2" name="Details" href="/InvoiceFollowup/CreateEntityInvoiceFile?InvoiceId=@item.InvoiceId&healthEntitytype=@item.EntityTypeId&invoicetype=2&MedicalProvider=@ViewBag.MedicalProvider">تنزيل الفاتورة</a>
                                                            }
                                                        }
                                                        else if (item.Type == 2)
                                                        {
                                                            if (item.IsDoctor == true)
                                                            {

                                                                <a class="dropdown-item" id="2" name="Details" href="/InvoiceFollowup/CreateDoctorInvoiceFile?InvoiceId=@item.InvoiceId&type=2&MedicalProvider=@ViewBag.MedicalProvider">تنزيل الفاتورة</a>
                                                            }
                                                            else
                                                            {
                                                                <a class="dropdown-item" id="2" name="Details" href="/InvoiceFollowup/CreateEntityInvoiceFile?InvoiceId=@item.InvoiceId&healthEntitytype=@item.EntityTypeId&invoicetype=2&MedicalProvider=@ViewBag.MedicalProvider">تنزيل الفاتورة</a>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <a class="dropdown-item" id="2" name="Details" href="/InvoiceFollowup/CreateDoctorInvoiceFile?InvoiceId=@item.InvoiceId&type=3&MedicalProvider=@ViewBag.MedicalProvider">تنزيل الفاتورة</a>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of
                @Model.PageCount
            </div>
        </div>
        <div class="col-sm-12 col-md-7">
            @{
                var q = HttpUtility.ParseQueryString("");

                for (int idx = 0; idx < Request.QueryString.Keys.Count; idx++)
                {
                    if (Request.QueryString.Keys[idx] != "page")
                    {
                        q.Add(Request.QueryString.Keys[idx], Request.QueryString[Request.QueryString.Keys[idx]]);
                    }
                }
            }
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, DoctorCode = q["DoctorCode"], MedicalProvider = q["MedicalProvider"] }),
           new PagedListRenderOptions
           {
               LiElementClasses = new string[] { "page-item" },
               DelimiterBetweenPageNumbers = ""
           })
        </div>
    </div>
</div>
<!-- Modal: profile -->
<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:80%;width:auto;overflow: initial;">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body" style="height:500px;overflow-y: auto;">
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('[name="profile"]').on('click', function (e) {
                e.preventDefault();
                var invoiceId = $(this).attr('id');
                $('#profileModal .modal-body').load('/InvoiceFollowup/ProviderProfile?invoiceid=' + invoiceId + '',
                    function (result) {
                        $('#profileModal').modal({ show: true });
                    });
            });
        });
    </script>
}
