﻿@model Re3ayaInvoices.viewModels.ProviderProfileViewModel
<div class="col-md-12 ">
    <form action="#">
        <div class="card no-b  no-r">
            <div class="card-body">
                <h4 class="card-title">بيانات شخصية</h4>
                <table class="table table-bordered table-hover" role="grid">
                    <thead>
                        <tr style="background-color:purple;color:white;text-align:center;">
                            <th>كود</th>
                            <th>أسم عربى</th>
                            <th>أسم إنجليزى</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.Code</td>
                            <td>@Model.ArabicName</td>
                            <td>@Model.EnglishName</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="card-body">
                <h4 class="card-title">بيانات الأتصال</h4>
                <table class="table table-bordered table-hover" role="grid">
                    <thead>
                        <tr style="background-color:purple;color:white;text-align:center;">
                            <th><i class="icon-envelope-o mr-2"></i>البريد الألكترونى</th>
                            <th><i class="icon-phone mr-2"></i>تليفون رئيسى</th>
                            <th><i class="icon-phone mr-2"></i>تليفون2</th>
                            <th><i class="icon-phone mr-2"></i>تليفون3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.Email</td>
                            <td>@Model.MasterPhone</td>
                            <td>@Model.SecondPhone</td>
                            <td>@Model.ThirdPhone</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
        </div>
    </form>
</div>