﻿ @using Re3ayaInvoices.Helpers;
@{
    var common = new Re3ayaInvoices.Services.CommonService();
}
<ul class="sidebar-menu">
    @{
        foreach (var parent in ViewBag.menu)
        {
            var usermenu = (Re3ayaInvoices.viewModels.UserMenuViewModel)parent;
            <li class="header light mt-3"><strong>@Common.Ase_DecryptString(usermenu.MenuItemName)</strong></li>
            foreach (var child in usermenu.Childs)
            {
                if (child.IsAction)
                {
                    <li>
                        <a href="@Common.Ase_DecryptString(child.ActionLink)">
                            <i class="icon icon-dialpad blue-text  s-18"></i>
                            <span>@Common.Ase_DecryptString(child.MenuItemName)</span>
                        </a>
                    </li>
                }
                else
                {
                    if (child.Childs == null)
                    {
                        continue;
                    }
                    <li class="treeview">
                        <a href="#">
                            <i class="icon icon-dialpad blue-text  s-18"></i>
                            <span style="font-size:medium">@Common.Ase_DecryptString(child.MenuItemName)</span>
                            <i class="icon icon-angle-left s-18 pull-right"></i>
                        </a>
                        <ul class="treeview-menu" style="display: none;">
                            @Html.Raw(usermenu.CreateUserMenu(child));
                        </ul>
                    </li>
                }
            }
        }
    }
</ul>
