﻿@model Re3ayaInvoices.viewModels.AgentViewModel
@{
    ViewBag.Title = "Create Agent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create Agent</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Account_Agent_Name, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Account_Agent_Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Account_Agent_Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Account_Agent_Phone, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Account_Agent_Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Account_Agent_Phone, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">City(s)</label>
            <div class="col-md-10">
                @Html.ListBoxFor(model => model.CityIds, (MultiSelectList)ViewBag.citylist,
                             new { @class = "select2" })
                @Html.ValidationMessageFor(model => model.CityIds, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RegionIds, htmlAttributes: new { @class = "control-label col-md-2 required" })
            <div class="col-md-10">
                <select id="RegionIds" name="RegionIds" multiple class="select2"></select>
                @Html.CheckBoxFor(model => model.AllRegions)  <label style="text-decoration: underline;color:red;font-weight: bold;">All Regions </label>
                @Html.ValidationMessageFor(model => model.RegionIds, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    <script src="~/Scripts/InvoiceScripts/CreateAgent.js"></script>
}