﻿@{
    ViewBag.Title = "إحصائيات الفواتير";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="my-3">
    <form id="reportform" style="margin-bottom:20px" action="/ExcelSheetExport/InvoiceStatistics">
        <div class="row">
            <div class="col-md-12 ">
                <div class="row">
                    <div class="col-md-2 mb-6  mt-3">
                        <label>من تاريخ</label>
                        <input type="text" autocomplete="off" class="form-control"  id="FromDate" name="FromDate" />
                    </div>
                    <div class="col-md-2 mb-6  mt-3">
                        <label>إلى تاريخ</label>
                        <input type="text" autocomplete="off" class="form-control"  id="ToDate" name="ToDate" />
                    </div>
                    <div class="col-md-2 mb-6 mt-3">
                        <label>أختر الجهة الطبية</label>
                        <select id="providertype" class="form-control" name="providertype">
                            <option value="0" selected="selected">دكتور</option>
                            <option value="1">hospital - مستشفى</option>
                            <option value="2">lab - معمل</option>
                            <option value="3">intencive care - عناية مركزة</option>
                            <option value="4">medical center - مركز طبى</option>
                            <option value="5">radiology center - مركز أشعة</option>
                            <option value="6">pharmacy - ضيدلية </option>
                            <option value="7">blood bank - بنك الدم </option>
                            <option value="8">Newborn Care - حضَانة </option>
                        </select>
                    </div>
                    <div class="col-md-2 mb-6 mt-3">
                        <label>التقرير</label>
                        <select class="form-control" name="sheettype" id="sheettype">
                            <option value="0" selected="selected">إجمالى</option>
                            <option value="1">محافظات</option>
                            <option value="2">مناطق</option>
                        </select>
                    </div>
                    <div class="col-md-2 mt-5">
                        <input type="submit" id="Searchbtn" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</header>
@section scripts{
    <script src="~/Scripts/InvoiceScripts/InvoiceStatistics.js"></script>
}


