﻿@using PagedList.Mvc
@model  PagedList.IPagedList<Re3ayaInvoices.viewModels.SummarizeAchievementViewModel>
@{ ViewBag.Title = "SummarizeAchievement";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
}
<h2>قائمة التحصيلات</h2>
<form id="form" class="mb-3" action="/Report/SummarizeAchievement">
    <div class="row">
        <div class="col-md-12 ">
            <div class="row">
                <div class="col-md-2 mb-6  mt-3">
                    <label>From</label>
                    <input type="date" autocomplete="off" class="form-control" @if (@ViewBag.search.From != null) { <text> value="@ViewBag.search.From.ToString("yyyy-MM-dd")" </text> }
                           id="From" name="From" />
                </div>
                <div class="col-md-2 mb-6  mt-3">
                    <label>To</label>
                    <input type="date" autocomplete="off" class="form-control" @if (@ViewBag.search.ToDate != null) { <text> value="@ViewBag.search.ToDate.ToString("yyyy-MM-dd")" </text> }
                           id="ToDate" name="ToDate" />
                </div>
                <div class="col-md-2 mb-6  mt-3">
                    <label>الجهة الطبية</label>
                    <select name="ProviderType" id="ProviderType" class="form-control">
                        <option value="" selected>الجهة الطبية</option>
                        <option value="0" @if (ViewBag.search.ProviderType == 0) { <text> selected="selected" </text> }>دكتور</option>
                        <option value="1" @if (ViewBag.search.ProviderType == 1) { <text> selected="selected" </text> }>مستشفى</option>
                        <option value="2" @if (ViewBag.search.ProviderType == 2) { <text> selected="selected" </text> }>معمل</option>
                        <option value="3" @if (ViewBag.search.ProviderType == 3) { <text> selected="selected" </text> }>رعاية مركزة</option>
                        <option value="4" @if (ViewBag.search.ProviderType == 4) { <text> selected="selected" </text> }>مركز طبى</option>
                        <option value="5" @if (ViewBag.search.ProviderType == 5) { <text> selected="selected" </text> }>مركز أشعة</option>
                        <option value="6" @if (ViewBag.search.ProviderType == 6) { <text> selected="selected" </text> }>صيدلية</option>
                        <option value="7" @if (ViewBag.search.ProviderType == 7) { <text> selected="selected" </text> }>بنك الدم</option>
                        <option value="8" @if (ViewBag.search.ProviderType == 8) { <text> selected="selected" </text> }>حضانات</option>
                    </select>
                </div>
                <div class="col-md-2 mb-6 mt-3">
                    <label>نوع الفاتورة</label>
                    <select class="form-control" name="InvoiceType" id="InvoiceType">
                        <option value="" selected="selected"></option>
                        <option value="1" @if (ViewBag.search.InvoiceType == 1) { <text> selected="selected" </text> }>إشتراك</option>
                        <option value="2" @if (ViewBag.search.InvoiceType == 2) { <text> selected="selected" </text> }>حجوزات</option>
                    </select>
                </div>
                <div class="col-md-2 mb-6 mt-3">
                    <label> رقم الفاتوره</label>
                    <input type="text" autocomplete="off" class="form-control" @if (@ViewBag.search.SerialNumber != null) { <text> value="@ViewBag.search.SerialNumber" </text> }
                           id="SerialNumber" name="SerialNumber" />
                </div>
                <div class="col-md-2 mb-6 mt-3">
                    <label>نوع التحصيل</label>
                    <select class="form-control" name="AcheviementType" id="AcheviementType">
                        <option value="" selected="selected"></option>
                        <option value="1" @if (ViewBag.search.AcheviementType == 1) { <text> selected="selected" </text> }>كاش</option>
                        <option value="2" @if (ViewBag.search.AcheviementType == 2) { <text> selected="selected" </text> }>CIB</option>
                        <option value="3" @if (ViewBag.search.AcheviementType == 3) { <text> selected="selected" </text> }>ايزى كاش</option>
                        <option value="4" @if (ViewBag.search.AcheviementType == 4) { <text> selected="selected" </text> }>We Accept</option>
                        <option value="5" @if (ViewBag.search.AcheviementType == 5) { <text> selected="selected" </text> }>فودافون كاش</option>

                    </select>
                </div>
               
            </div>
            <div class="row mt-4">
                <div class="col-md-3 mb-6  mt-5" style="text-align:center;">
                    <button type="submit" class="btn btn-primary" id="search">بحث</button>
                </div>
                <div class="col-md-3">
                    <input type="button" id="sendwhatsappmessage" value="send whatsapp message" class="btn btn-primary" />
                </div>
                @*<div class="col-md-4">
            <input type="button" id="sheet" value="sheet" class="btn btn-primary" />
        </div>
        <div class="col-md-4">
            <input type="button" id="pdf" value="PDF" class="btn btn-primary" />
        </div>*@

            </div>
        </div>
    </div>
</form>


<div class="container-fluid my-3">

    <div class="row">
        <div class="col-md-12">
            <div class="box-header">
                <div class="box-tools">
                    <label style="color:purple;text-decoration: underline;font-weight: bold;">(@Model.TotalItemCount) Invoices</label>
                </div>
            </div>
            <div class="card r-0 shadow">
                <div class="table-responsive">
                    <form>
                        <table id="invoicetable" class="table table-bordered table-hover" role="grid">
                            <tr style="background-color:purple;color:white;text-align:center;">
                                <th>
                                    كود البيان
                                </th>
                                <th>
                                    رقم الفاتورة
                                </th>
                                <th>
                                    نوع الفاتورة
                                </th>
                                <th>
                                    رمز الفاتورة
                                </th>
                                <th>
                                    رقم الإيصال
                                </th>
                                <th>
                                    تاريخ التحصيل
                                </th>
                                <th>
                                    نوع التحصيل
                                </th>
                                <th>
                                    قيمة التحصيل
                                </th>
                                <th>
                                    كود الجهة الطبية
                                </th>
                                <th>
                                    أسم الجهة الطبية
                                </th>
                                <th>
                                    تليفون الجهة الطبية
                                </th>
                                <th>أسم المندوب</th>
                                <th>المنطقة</th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InvoiceNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SerialNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InvoiceType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InvcoiceChar)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ReceiptNumber)
                                    </td>
                                    <td>
                                        @Html.Label(item.AcheivementDateTime.HasValue ? item.AcheivementDateTime.Value.ToString("dd/MM/yyyy") : "", htmlAttributes: new { style = "color:purple;text-decoration: underline;font-weight: bold;" })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AcheivementTypeName)
                                    </td>
                                    <td>
                                        @System.Math.Round(item.AcheivementTotal.Value, 2)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProviderCode)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProviderName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProviderPhone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AgentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProviderRegion)
                                    </td>
                                </tr>
                            }
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of
                @Model.PageCount
            </div>
        </div>
        <div class="col-sm-12 col-md-7">
            @{ var q = HttpUtility.ParseQueryString("");

                for (int idx = 0; idx < Request.QueryString.Keys.Count; idx++)
                {
                    if (Request.QueryString.Keys[idx] != "page")
                    {
                        q.Add(Request.QueryString.Keys[idx], Request.QueryString[Request.QueryString.Keys[idx]]);
                    }
                } }
            @Html.PagedListPager(Model, page => Url.Action("SummarizeAchievement", new { page = page, From = q["From"], ToDate = q["ToDate"], ProviderType = q["ProviderType"], InvoiceType = q["InvoiceType"] }));
        </div>
    </div>
</div>
@section Scripts {
    @*<script src="~/Scripts/toastr.min.js"></script>*@
    @if (ViewBag.Error != null)
    {
        <script>
            toastr.error('@ViewBag.Error','خطأ');
        </script>
    }
    <script type="text/javascript">
        $(document).ready(function () {
            //$('#From').datetimepicker({
            //    timepicker: false,
            //    format: 'd/m/Y'
            //});
            //$('#ToDate').datetimepicker({
            //    timepicker: false,
            //    format: 'd/m/Y'
            //});
            $('#sheet').on('click', function (e) {
                e.preventDefault();
                $('#form').attr('action', "/AccountingReport/SummarizeAchievementSheet").submit();
                $('#form').attr('action', "/AccountingReport/SummarizeAchievement");
            });
            $('#pdf').on('click', function (e) {
                e.preventDefault();
                $('#form').attr('action', "/AccountingReport/SummarizeAchievementPDF").submit();
                $('#form').attr('action', "/AccountingReport/SummarizeAchievement");
            });
            $('#sendwhatsappmessage').on('click', function (e) {
                e.preventDefault();
                $('#form').attr('action', "/Common/sendwhatsappmessage").submit();
                $('#form').attr('action', "/Report/SummarizeAchievement");
            });


        });
    </script>
}
