﻿@model List<Re3ayaInvoices.Models.AcheivementType>
@{
    ViewBag.Title = "AcheivementType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-header">
                <div class="box-tools">
                    <label style="color:purple;text-decoration: underline;font-weight: bold;"> Acheivement types</label>
                </div>
            </div>
            <div class="card r-0 shadow">
                <div class="table-responsive">
                    <form>
                        <table id="invoicetable" class="table table-bordered table-hover" role="grid">
                            <thead>
                                <tr>

                                    <th>
                                        Name (En)
                                    </th>
                                    <th>
                                        Name(Ar)
                                    </th>

                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @item.Name_En
                                                </td>
                                                <td>
                                                    @item.Name_Ar
                                                </td>
                                                <td>
                                                    <a href="/Acheivement/Edit?id=@item.Id" class="btn btn-primary">Edit</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
