﻿@using PagedList.Mvc
@model  PagedList.IPagedList<Re3ayaInvoices.viewModels.InvoiceSummaryViewModel>
@using Re3ayaInvoices.Helpers
@{
    ViewBag.Title = "Summarize Invoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var provider = new Re3ayaInvoices.viewModels.InvoiceSummaryMedicalProvider();
}
<header class="my-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="s-24">
                    <i class="icon-pages"></i>
                    <span class="s-14"></span>
                </h1>
            </div>
        </div>
        @Html.Partial("~/Views/Home/IndexSearch_Partial.cshtml",ViewBag.search as Re3ayaInvoices.viewModels.InvoiceSummarizationSearch)
    </div>
</header>
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-header">
                <div class="box-tools">
                    <label style="color:purple;text-decoration: underline;font-weight: bold;">(@Model.TotalItemCount) Group</label>
                </div>
            </div>
            <div class="card r-0 shadow">
                <div class="table-responsive">
                    <form>
                        <table id="invoicetable" class="table table-bordered table-hover" role="grid">
                            <thead>
                                <tr>
                                    <th>م.</th>
                                    <th>تاريخ الإصدار</th>
                                    <th>عدد الفواتير</th>
                                    @{
                                        int y = 4;
                                        foreach (int providertype in Enum.GetValues(typeof(Common.MedicalProviderType)))
                                        {
                                            string typename = Enum.GetName(typeof(Common.MedicalProviderType), providertype);
                                            <th>@typename</th>
                                            y++;
                                        }
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @{ 
                                    int i = Convert.ToInt32(ViewBag.startindex);
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayName(i++.ToString())</td>
                                        <td>@item.InvoiceDate.ToString("MMMM,yyyy")</td>
                                        <td>@item.NumberOfInvoices</td>
                                        @{
                                            foreach (int providertype in Enum.GetValues(typeof(Common.MedicalProviderType)))
                                            {
                                                <td>
                                                    @{
                                                        provider = item.InvoiceSummaryMedicalProvider.Where(p =>
                                                                    p.ProviderType == providertype).SingleOrDefault();
                                                        if (provider != null)
                                                        {
                                                            <a href="/Home/Invoices?ProviderType=@provider.ProviderType&From=@item.InvoiceDate.Date.ToShortDateString()
                                                               &To=@item.InvoiceDate.Date.ToShortDateString()">
                                                                @provider.NumberOfInvoices
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <text>0</text>
                                                        }
                                                    }
                                                </td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of
                @Model.PageCount
            </div>
        </div>
        <div class="col-sm-12 col-md-7">
            @{
                var q = HttpUtility.ParseQueryString("");

                for (int idx = 0; idx < Request.QueryString.Keys.Count; idx++)
                {
                    if (Request.QueryString.Keys[idx] != "page")
                    {
                        q.Add(Request.QueryString.Keys[idx], Request.QueryString[Request.QueryString.Keys[idx]]);
                    }
                }
            }
            @Html.PagedListPager(Model, page => HttpUtility.UrlDecode( Url.Action("Index", new
       {
           page = page,
           From=ViewBag.search.From,
           To= ViewBag.search.To,

       })));
        </div>
    </div>

</div>

@section scripts{
    <script src="~/Scripts/InvoiceScripts/SummarizeInvoice.js"></script>
}
