﻿@using Re3ayaInvoices.Helpers
@using PagedList.Mvc
@model  PagedList.IPagedList<Re3ayaInvoices.viewModels.InvoiceViewModel>
@{
    ViewBag.Title = "Invoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool hasaccess = false;
    var authorizeservice = new Re3ayaInvoices.Services.AuthorizeService();
}
<header class="my-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="s-24">
                    <i class="icon-pages"></i>
                    قائمة الفواتير <span class="s-14"></span>
                </h1>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Home/InvoiceSearch_Partial.cshtml", ViewBag.search as Re3ayaInvoices.viewModels.InvoiceSearch)
    <div class="row">
        @{
            hasaccess = authorizeservice.HasAccessTo("ExcelSheetExport", "InvoicesSheet");
            if (hasaccess)
            {
                <div class="col-md-6 mt-3">
                    <input type="button" name="sheet" id="sheet" value="Export To Sheet" class="btn btn-primary" />
                </div>
            }
            hasaccess = authorizeservice.HasAccessTo("Report", "DownloadInvoices");
            if (hasaccess)
            {
                <div class="col-md-6 mt-3">
                    <input type="button" name="print" id="print" value="Print" class="btn btn-primary" />
                </div>
            }
            <div class="col-md-6 mt-3">
                <input type="button" name="subscriptionhasreservation" id="subscriptionhasreservation" value="Print subscription has reservation" class="btn btn-primary" />
            </div>
        }
    </div>
</header>
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-header">
                <div class="box-tools">
                    <label style="color:purple;text-decoration: underline;font-weight: bold;">(@Model.TotalItemCount) Invoices</label>
                </div>
            </div>
            <div class="card r-0 shadow">
                <div class="table-responsive" style="min-height:300px;">
                    <form>
                        <table id="invoicetable" class="table table-bordered table-hover" role="grid">
                            <tr>
                                <th>
                                    م
                                </th>
                                <th>
                                    رقم الفاتورة
                                </th>
                                <th>
                                    تاريخ الإصدار
                                </th>
                                <th>
                                    النوع
                                </th>
                                <th>
                                    الجهة الطبية
                                </th>
                                <th>نوع الجهة الطبية</th>
                                <th>
                                    المندوب/المنطقة
                                </th>
                                <th>
                                    الإجمالى
                                </th>
                                <th>
                                    الحالة
                                </th>
                                <td>خصم 3%</td>
                                <th>#</th>
                            </tr>
                            @{
                                int i = Convert.ToInt32(ViewBag.startindex);
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayName(i++.ToString())</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Invoice_Number)
                                    </td>
                                    <td>
                                        @Html.Label(item.InvoiceDate.HasValue ? item.InvoiceDate.Value.ToString("dd/MM/yyyy") : "", htmlAttributes: new { style = "color:purple;text-decoration: underline;font-weight: bold;" })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TypeName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.providerName)
                                        <br />
                                        <span style="color:red;">@item.ProviderCode</span>
                                        @if (!item.ProviderActiveStatus.HasValue || item.ProviderActiveStatus == true)
                                        {
                                            <span class="icon icon-circle s-12  mr-2 text-success"></span><text>Active</text>
                                        }
                                        else
                                        {
                                            <span class="icon icon-circle s-12  mr-2 text-red"></span><text>Inactive</text>
                                        }
                                    </td>
                                    <td>
                                        @{
                                            var typename = Common.MedicalProviders().Where(m => m.Key == item.ProviderType)
                                                .SingleOrDefault().Value;
                                        }
                                        @typename
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AgentName)
                                        <br /> @Html.DisplayFor(modelItem => item.RegionName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalAmount)
                                    </td>
                                    <td>
                                        @if (item.IsPaid.GetValueOrDefault())
                                        {

                                            hasaccess = authorizeservice.HasAccessTo("Home", "CancelPaid");
                                            if (hasaccess)
                                            {
                                                <a href="#" name="cancelpaid" id="@item.InvoiceId" class="btn btn-danger">إلغاء التحصيل</a>
                                            }
                                            else
                                            {
                                                <label style="font-weight:bold;"> محصل </label>
                                            }
                                        }
                                        else
                                        {
                                            var paidbefore = "";
                                            if (item.IsPaidBefore.HasValue)
                                            {
                                                paidbefore = item.IsPaidBefore.Value ? "تم التحصيل من قبل" : "";
                                            }
                                            <label style="font-weight:bold;">غير محصل<text style="color:red;"> - @paidbefore</text></label>
                                        }
                                    </td>
                                    <td>
                                        @{
                                            hasaccess = authorizeservice.HasAccessTo("Home", "UpdateDeductionStatus");
                                            if (hasaccess)
                                            {
                                                <div class="material-switch">
                                                    <input name="IsInsurance" id="_@item.InvoiceId" data-value="@item.InvoiceId" data-provider="@item.Type" @if (item.Is_Deduction == true) { <text> checked="checked" </text> } type="checkbox">
                                                    <label for="_@item.InvoiceId" class="bg-success"></label>
                                                </div>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @*@if (!item.ProviderActiveStatus.HasValue || item.ProviderActiveStatus == true)*@
                                        @*{*@
                                        @if (!item.IsCancel.GetValueOrDefault())
                                        {
                                            <div class="dropdown show">
                                                <a class="btn btn-secondary btn-xs dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Action
                                                </a>
                                                <div id="@item.InvoiceId" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                    @{
                                                        if (!item.IsPaid.GetValueOrDefault())
                                                        {
                                                            hasaccess = authorizeservice.HasAccessTo("Home", "CancelInvoice");
                                                            if (hasaccess)
                                                            {
                                                                <a class="dropdown-item" id="0" name="cancelinvoice" href="#" style="font-weight:bold;color:red;">إلغاء الفاتورة</a>
                                                            }
                                                        }
                                                        hasaccess = authorizeservice.HasAccessTo("Home", "InvoiceDetails");
                                                        if (hasaccess)
                                                        {
                                                            if (!item.IsPaid.GetValueOrDefault())
                                                            {
                                                                <a class="dropdown-item" id="1" name="Details" href="/Home/InvoiceDetails?id=@item.InvoiceId" style="font-weight:bold;">تفاصيل</a>
                                                            }
                                                            else
                                                            {
                                                                <a class="dropdown-item" style="font-weight:bold;" href="#" id="@item.InvoiceId" name="review">مراجعة</a>
                                                            }
                                                        }
                                                        hasaccess = authorizeservice.HasAccessTo("Home", "UpdateDeductionStatus");
                                                        if (hasaccess)
                                                        {
                                                            <a class="dropdown-item" id="2" name="resetinvoice" style="font-weight:bold;color:red;" href="#">إعادة إصدار</a>
                                                        }
                                                        hasaccess = authorizeservice.HasAccessTo("Communication", "SendWhatsapp");
                                                        if (hasaccess)
                                                        {
                                                            <a class="dropdown-item" id="3" name="sendwhatsapp" href="#" style="font-weight:bold;" onclick="SendWhatsAppMessage('@item.InvoiceId')">ارسال رسالة واتس اب</a>
                                                        }
                                                        hasaccess = authorizeservice.HasAccessTo("Report", "DownloadInvoice");
                                                        if (hasaccess)
                                                        {
                                                            <a class="dropdown-item" id="4" name="report" href="/Report/DownloadInvoice?id=@item.InvoiceId&providertype=@item.ProviderType" style="font-weight:bold;">تقرير</a>
                                                        }
                                                        if (!item.IsPaid.GetValueOrDefault())
                                                        {
                                                            hasaccess = authorizeservice.HasAccessTo("Home", "InvoiceAppointments");
                                                            if (hasaccess)
                                                            {
                                                                <a class="dropdown-item" id="5" name="appointmentlist" href="#" style="font-weight:bold;">الحجوزات</a>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <label style="color:red;">تم إلغاء الفاتورة</label>
                                        }
                                        @*}*@
                                    </td>
                                </tr>
                            }
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of
                @Model.PageCount
            </div>
        </div>
        <div class="col-sm-12 col-md-7">
            @{
                var q = HttpUtility.ParseQueryString("");

                for (int idx = 0; idx < Request.QueryString.Keys.Count; idx++)
                {
                    if (Request.QueryString.Keys[idx] != "page")
                    {
                        q.Add(Request.QueryString.Keys[idx], Request.QueryString[Request.QueryString.Keys[idx]]);
                    }
                }
            }
            @Html.PagedListPager(Model, page => HttpUtility.UrlDecode( Url.Action("Invoices", new
       {
           page = page,
           From=ViewBag.search.From,
           To= ViewBag.search.To,
           InvoiceNumber= ViewBag.search.InvoiceNumber,
           type= ViewBag.search.type,
           Status= ViewBag.search.Status,
           ProviderType= ViewBag.search.ProviderType,
           ProviderHas = ViewBag.search.ProviderHas,
           ProviderName= ViewBag.search.ProviderName,
           ProviderCode= ViewBag.search.ProviderCode
           + ((ViewBag.search.CityIds as List<int>).Count() == 0 ? "" : "&"
              + string.Join("&", (ViewBag.search.CityIds as List<int>).Select(r => "CityIds=" + r.ToString())))
           + ((ViewBag.search.RegionIds as List<int>).Count() == 0 ? "" : "&"
              + string.Join("&", (ViewBag.search.RegionIds as List<int>).Select(r => "RegionIds=" + r.ToString())))
           + ((ViewBag.search.AgentIds as List<int>).Count() == 0 ? "" : "&"
              + string.Join("&", (ViewBag.search.AgentIds as List<int>).Select(r => "AgentIds=" + r.ToString())))
       })));
        </div>
    </div>
</div>
<div class="modal fade" id="agnetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:60%;width:auto;overflow: initial;">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body" style=" height: 250px;overflow-y: auto;">
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal: cancel paid -->
<div class="modal fade" id="cancelpaidModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:60%;width:auto;overflow: initial;">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body" style=" height: 250px;overflow-y: auto;">
                <form id="resetform" action="#">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" name="invoiceid" id="invoiceid" />
                                <input type="hidden" name="cancellationtype" id="cancellationtype" />
                                <input type="password" name="password" id="password" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12" style="text-align:center;">
                                <input type="submit" name="resetbtn" id="resetbtn" value="إلغاء" class="btn btn-danger" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="UrlModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:60%;width:auto;overflow: initial;">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body" style=" height: 250px;overflow-y: auto;">
                <center id="urlToOpenbutton">

                </center>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Appointmewnts Modal-->
<div class="modal fade" id="appointmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:60%;width:auto;overflow: initial;">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body" style=" height: 250px;overflow-y: auto;">
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--details Modal-->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:60%;width:auto;overflow: initial;">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body" style=" height: 250px;overflow-y: auto;">
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var regionIds =@Html.Raw(Json.Encode(@ViewBag.search.RegionIds));
        var cityIds =@Html.Raw(Json.Encode(@ViewBag.search.CityIds));
    </script>
    <script src="~/Scripts/InvoiceScripts/Invoices.js"></script>
}