﻿@using PagedList.Mvc
@model  PagedList.IPagedList<Re3ayaInvoices.viewModels.SystemMenuViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="my-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1 class="s-24">
                    <i class="icon-pages"></i>
                    <span class="s-14"></span>
                </h1>
            </div>
        </div>
        <a class="btn btn-primary" href="/System/CreateSystemMenu">Create</a>
    </div>
</header>
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-12">
            <div class="box-header">
                <div class="box-tools">
                    <label style="color:purple;text-decoration: underline;font-weight: bold;">(@Model.TotalItemCount) Invoices</label>
                </div>
            </div>
            <div class="card r-0 shadow">
                <div class="table-responsive">
                    <form>
                        <table id="invoicetable" class="table table-bordered table-hover" role="grid">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Name</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.NameAr</td>
                                        <td>
                                            <a class="btn btn-primary" href="/System/EditSystemMenu?id=@item.Id">Edit</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of
                @Model.PageCount
            </div>
        </div>
        <div class="col-sm-12 col-md-7">
            @{
                var q = HttpUtility.ParseQueryString("");

                for (int idx = 0; idx < Request.QueryString.Keys.Count; idx++)
                {
                    if (Request.QueryString.Keys[idx] != "page")
                    {
                        q.Add(Request.QueryString.Keys[idx], Request.QueryString[Request.QueryString.Keys[idx]]);
                    }
                }
            }
            @Html.PagedListPager(Model, page => HttpUtility.UrlDecode( Url.Action("SystemMenu", new
       {
           page = page,
       })));
        </div>
    </div>
</div>

