﻿@model Re3aya247AdminPanel.ViewModels.SystemUserViewModel

<table>
    <thead>
        <tr>
            <th>الأسم</th>
            <th>الإيميل</th>
            <th>المجموعات</th>
        </tr>
    </thead>
   <tbody>
       <tr>
           <td>@Model.FullName</td>
           <td>@Model.Email</td>
           <td>@string.Join(",", Model.RolesName);</td>
       </tr>
   </tbody>
</table>