﻿@using PagedList.Mvc
@model  PagedList.IPagedList<Re3ayaInvoices.viewModels.SystemUserViewModel>
@using Re3ayaInvoices.Helpers;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool hasaccess = false;
    var authorizeservice = new Re3ayaInvoices.Services.AuthorizeService();
}
<p>
    @Html.ActionLink("Create New", "CreateUser")
    @*@{

            hasaccess = authorizeservice.HasAccessTo("System", "CreateUser");
            if (hasaccess)
            {
        @Html.ActionLink("Create New", "CreateUser")
        }
        }*@
</p>
<header class="my-3 card">
    <div class="container-fluid my-3">
        <form id="searchform" style="margin-bottom:20px" action="/System/Users">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="row">

                        <div class="col-md-4 mt-5" style="text-align:center;">
                            <input type="submit" id="Searchbtn" value="بحث" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</header>
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-12">
            <div class="card r-0 shadow">
                <div class="table-responsive">
                    <form>
                        <table id="offertable" class="table table-bordered table-hover" role="grid">
                            <tr style="background-color:purple;color:white;text-align:center;">
                                <th>
                                    م
                                </th>
                                <th>
                                    الأسم
                                </th>
                                <th>المجموعات</th>
                                <th>
                                    الحالة
                                </th>
                                <th>#</th>
                            </tr>
                            @{

                            int i = Convert.ToInt32(ViewBag.startindex);
                            }
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayName(i++.ToString())
                                </td>
                                <td>
                                    @item.FullName
                                </td>
                                <td>
                                    @{
                                    foreach (var role in item.RolesName)
                                    {
                                    <span class="badge badge-primary">
                                        @Common.Ase_DecryptString(role);
                                    </span>
                                    }
                                    }
                                </td>
                                <td>
                                    @*@{
                                    hasaccess = authorizeservice.HasAccessTo("System", "UpdateUserStatus");
                                    if (hasaccess)
                                    {
                                    <div class="material-switch">
                                        <input name="activestatus" id="@item.Id"
                                               @if (item.IsActive= =true) { <text> checked="checked" </text> }
                                        type="checkbox">
                                        <label for="@item.Id" class="bg-success"></label>
                                    </div>
                                    }
                                    else
                                    {
                                    if (item.IsActive == true)
                                    {
                                    <span class="icon icon-circle s-12  mr-2 text-success">
                                    </span><text>Active</text>
                                    }
                                    else
                                    {
                                    <span class="icon icon-circle s-12  mr-2 text-red">
                                    </span><text>Inactive</text>
                                    }
                                    }
                                    }*@

                                </td>
                                <td>
                                    <div class="dropdown show">
                                        <a class="btn btn-secondary btn-xs dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            actions
                                        </a>
                                        <div id="@item.Id" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            @*@{
                                            hasaccess = authorizeservice.HasAccessTo("System", "EditUser");
                                            if (hasaccess)
                                            {
                                            <a class="dropdown-item" id="1" style="font-size:medium;" name="edit"
                                               href="/System/EditUser?id=@item.Id">تعديل</a>
                                            }
                                            }*@
                                            @*<a class="dropdown-item" id="2" name="details" style="font-size:medium;"
                                                 href="#">تفاصيل</a>*@
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            }
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-5">
            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of
                @Model.PageCount
            </div>
        </div>
        <div class="col-sm-12 col-md-7">
            @{
            var q = HttpUtility.ParseQueryString("");

            for (int idx = 0; idx < Request.QueryString.Keys.Count; idx++)
            {
            if (Request.QueryString.Keys[idx] != "page")
            {
            q.Add(Request.QueryString.Keys[idx], Request.QueryString[Request.QueryString.Keys[idx]]);
            }
            }
            }
            @Html.PagedListPager(Model, page => Url.Action("Users", new { page = page, RoleId = q["RoleId"] }))
        </div>
    </div>
</div>
<!-- Modal: details -->
<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:80%;width:auto;overflow: initial;">
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body" style="height:500px;overflow-y: auto;">
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
<script src="~/Scripts/Custom/System/Users.js"></script>
}